.cls-1 {
    fill: #2d1b00;
  }

  .cls-1, .cls-4 {
    stroke: #000;
  }

  .cls-1, .cls-2, .cls-3, .cls-4, .cls-6, .cls-8 {
    stroke-miterlimit: 10;
  }

  .cls-2 {
    fill: #0056a3;
  }

  .cls-2, .cls-3 {
    stroke: silver;
  }

  .cls-3, .cls-4, .cls-6 {
    fill: none;
  }

  .cls-5 {
    fill: rgb(64, 64, 64);
  }

  .cls-6, .cls-8 {
    stroke: #404040;
  }

  .cls-7 {
    font-size: 12px;
    fill: #e2cc00;
    font-family: MyriadPro-Regular, Myriad Pro;
  }

  .cls-8 {
    fill: #002d73;
  }