@use "../../colors";

.pitch-class {
  cursor: pointer;
  fill: colors.$color1;

  &.selected {
    fill: colors.$color3;
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.trash-icon {
  align-self: center;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  cursor: pointer;
}

.scale {
  cursor: pointer;

  &:hover {
    background-color: #e9ecef;
  }
}
